## OS
.DS_Store
Icon?
nohup.out

## EDITORS
\#*
.#*
*~
*.swp
*.bak
REVISION
TAGS*
tmtags
*_flymake.*
*_flymake
*.tmproj
.project
.settings
mkmf.log
.buildpath

## COMPILED
a.out
*.o
*.pyc
*.so

## OTHER SCM
.bzr
.hg
.svn

## PROJECT::GENERAL
coverage
rdoc
doc
pkg
.yardoc

.rvmrc
.vendor
.bundle

## PROJECT::SPECIFIC

Gemfile.lock
.upload
**/migrate-devipa-local-params.yaml
.rbenv-gemsets
.ruby-version
tmp/